{% extends 'base.html' %} 
{% block content %} 
<div class="container">
    <h5 class="my-3 border-bottom pb-2"> 수주계약 건 등록</h5>
    <form method="post">
        {% csrf_token %} 
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="contracted_title" class="col-form-label">수주계약 건 명:</label>
                    <input type="text" class="form-control" name="contracted_title" value="">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="contracted_value" class="col-form-label">수주계약 금액:</label>
                    <input type="number" class="form-control" id="money" name="contracted_value" value="0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="contracted_dept" class="col-form-label">수주계약 부서:</label>
                    <select class="form-select" name="contracted_dept" required>
                        <option value="" selected="">---------</option>
                        <option value="CAM">캠페인본부</option>
                        <option value="NWB">BX사업본부</option>
                        <option value="CNS">전략컨설팅본부</option>
                        <option value="SLT">더쏠트</option>
                        <option value="LCO">로코옵티마이저스</option>
                      </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="person" class="col-form-label">담당자:</label>
                    <input type="text" class="form-control" name="person" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="client" class="col-form-label">광고주 명:</label>
                    <input type="text" class="form-control" name="client" required>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="client_type" class="col-form-label">광고주 타입:</label>
                    <select class="form-select" name="client_type" required>
                        <option value="" selected="">---------</option>
                        <option value="ADV">광고주</option>
                        <option value="AGN">대행사</option>
                        <option value="LAB">랩사</option>
                      </select>
                </div>
            </div>
        </div> 
        <div class="mb-3">
            <label for="description" class="col-form-label">비고:</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="row">
            <label class="col-form-label">고객사 담당자 정보</label>
            <div class="col">
              <input type="text" class="form-control" name="client_manager" value="이름">
            </div>
            <div class="col">
              <input type="email" class="form-control" name="client_manager_email" value="example@mail.com">
            </div>
            <div class="col">
                <input type="tel" class="form-control" name="client_manager_tel" value="010-0000-0000">
            </div>
        </div>
    </br>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %} 