{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>ID</th>
                <th>인바운드 문의 건</th>
                <th>예산</th>
                <th>컨택 경로</th>
                <th>문의 부서</th>
                <th>문의 날짜</th>
                <th>상태</th>
            </tr>
        </thead>
        <tbody>
            {% if inbound_list %}
            {% for inbound in inbound_list %}
            <tr>
                <td>{{ inbound.id }}</td>
                <td>
                    <a href="{%url 'mbt:inbound_detail' inbound.id %}">{{ inbound.inbound_title }}</a>
                </td>
                <td>{{ inbound.budget }}</td>
                <td>{{ inbound.inbound_path }}</td>
                <td>{{ inbound.get_inbound_dept_display }}</td>
                <td>{{ inbound.created_at }}</td>
                <td>{{ inbound.status }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <p>등록된 건이 없습니다.</p>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if inbound_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ inbound_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in inbound_list.paginator.page_range %}
        {% if page_number >= inbound_list.number|add:-5 and page_number <= inbound_list.number|add:5 %}
        {% if page_number == inbound_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if inbound_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ inbound_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'mbt:create_inbound' %}" class="btn btn-primary">인바운드 건 생성하기</a>
</div>
{% endblock %}