<div>
    <ul>
    {% for inbound in inbound_list %}
        <li><a href="{% url 'mbt:inbound_detail' inbound.id %}">{{ inbound.inbound_title }}</a></li>
    {% endfor %}
    </ul>
</div>
</br>
<div>
    <button id="show">신규 건 추가</button>
    <div class="background">
        <div class="window">
            <div class="popup">
                <div>
                    <form action="{% url 'mbt:create_inbound' %}" method="post">
                        {% csrf_token %}
                        <label>인바운드 문의건</label><input type="text" name="inbound_title" required><br/>
                        <label>클라이언트 명</label><input type="text" name="client_name" required><br/>
                        <label>클라이언트 접촉경로</label><input type="text" name="client_contact_point" required><br/>
                        <label>부서</label>
                        <select name="dept">
                            <option value="CAM">캠페인본부</option>
                            <option value="NWB">BX사업본부</option>
                            <option value="CNS">전략컨설팅본부</option>
                            <option value="SLT">더쏠트</option>
                            <option value="LCO">로코옵티마이저스</option>
                        </select>
                        <input type="submit" value="인바운드건 생성">
                    </form>
                </div>
                <div>
                    <button id="close">팝업닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>